---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="P치gina no encontrada - Horarios CNEL">
  <main class="flex justify-center items-center flex-col w-full">
    <h1 class="text-3xl font-medium text-center mb-3">P치gina no encontrada</h1>
    <p class="text-center">
      Lo sentimos, la p치gina que buscas no existe. Puedes volver a la
      <a href="/" class="text-blue-500 underline">p치gina principal</a>.
    </p>
  </main>
</Layout>
