---
import FormSchedule from "@/components/FormSchedule";
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Horarios CNEL">
  <main class="m-auto p-6 max-w-2xl">
    <h1 class="text-3xl font-medium text-center mb-4">
      Horarios <span class="text-[#2364B0]">CNEL</span>
    </h1>
    <FormSchedule client:only="react" />
  </main>
  <!-- <Input /> -->
</Layout>
