---
import FormSchedule from "@/components/FormSchedule";

import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Horarios CNEL - Cortes de Luz Ecuador">
  <div class="grid grid-cols-12 h-full flex-1">
    <!-- Sección Izquierda -->
    <section class="hidden lg:flex lg:col-span-1 overflow-auto justify-start">
    </section>

    <!-- Contenido Central -->
    <div class="col-span-12 lg:col-span-10 px-6 pt-0 py-4">
      <div class="max-w-screen-lg mx-auto">
        <h1 id="page-title" class="text-4xl text-start mb-3 font-bold">
          Horarios <span class="text-[#2364B0]">CNEL</span>
        </h1>
        <p class="mb-4">
          Ingresa tu identificación para consultar los horarios de cortes de luz
          programados por CNEL en tu área.
        </p>
        <FormSchedule client:load />
      </div>
    </div>

    <!-- Sección Derecha -->
    <section class="hidden lg:flex justify-end lg:col-span-1 overflow-auto">
    </section>
  </div>
</MainLayout>
<script is:inline>
  document.addEventListener("astro:page-load", async () => {
    // Usamos import dinámico para cargar el módulo solo cuando sea necesario
    const { observeTitle } = await import("../../src/utils/appbar");

    // Ejecutar la función observeTitle después de que la página se haya cargado
    observeTitle({
      removeLeadingIcons: false,
    });
  });
</script>
