---
import FormSchedule from "@/components/FormSchedule";
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import { ModeToggle } from "@/components/ModeToggle";
import { Button } from "@/components/ui/button";
import { Github } from "lucide-react";
import Appbar from "@/components/Appbar.astro";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    // return window.matchMedia("(prefers-color-scheme: dark)").matches
    //   ? "dark"
    //   : "light";
    return "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
<Layout title="Horarios CNEL">
  <div class="relative flex min-h-screen flex-col bg-background">
    <Appbar />

    <main class="flex justify-center items-center flex-col">
      <div class="max-w-full w-full md:max-w-screen-lg px-6 py-4">
        <FormSchedule client:only="react" />
      </div>
    </main>
  </div>
  <!-- <Input /> -->
</Layout>
