---
import FormSchedule from "@/components/FormSchedule";
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";

import Footer from "@/components/Footer.astro";
import Appbar from "@/components/Appbar.astro";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    // return window.matchMedia("(prefers-color-scheme: dark)").matches
    //   ? "dark"
    //   : "light";
    return "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
<Layout title="Horarios CNEL - Cortes de Luz Ecuador">
  <div class="relative flex min-h-screen flex-col bg-background">
    <Appbar />

    <main class="flex justify-center items-center flex-col">
      <div class="max-w-full w-full md:max-w-screen-lg px-6 pt-0 py-4">
        <h1 class="text-3xl font-medium text-start mb-3">
          Horarios <span class="text-[#2364B0]">CNEL</span>
        </h1>
        <p class="mb-4">
          Ingresa tu identificación para consultar los horarios de cortes de luz
          programados por CNEL en tu área.
        </p>
        <FormSchedule client:load />
      </div>
    </main>
    <Footer />
  </div>
  <!-- <Input /> -->
</Layout>
