---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Terminos y Condiciones">
  <section class="max-w-3xl mx-auto py-6 px-6 flex flex-col w-full">
    <h1 id="page-title" class="text-4xl font-bold mb-6">
      Términos y Condiciones
    </h1>

    <h2 class="text-2xl font-semibold mb-4">1. Introducción</h2>
    <p class="mb-6">
      Bienvenido a <strong>Horarios CNEL</strong>, un proyecto independiente
      creado por un desarrollador de Ecuador con el objetivo de mejorar la
      visualización y organización de los horarios de cortes de energía en
      Ecuador. Al acceder o utilizar este sitio web, aceptas cumplir con estos
      términos y condiciones. <strong>Horarios CNEL</strong> utiliza datos de la
      API pública proporcionada por la empresa pública <strong>CNEL EP</strong>,
      pero no está afiliado a ninguna entidad gubernamental ni oficial. Este
      proyecto es independiente y el sitio se proporciona tal como está.
    </p>

    <h2 class="text-2xl font-semibold mb-4">2. Uso del Servicio</h2>
    <p class="mb-4">
      Este sitio te permite consultar los horarios de cortes de energía
      basándose en la información que ofrece la API pública de <strong
        >CNEL EP</strong
      >. La funcionalidad está diseñada para ofrecer una mejor experiencia de
      usuario organizando y presentando los datos de manera más accesible. <strong
        >Horarios CNEL</strong
      > no garantiza la precisión, disponibilidad o exactitud de los datos presentados,
      ya que estos son gestionados por la API pública.
    </p>

    <h3 class="text-xl font-semibold mb-3">2.1 Restricciones de uso</h3>
    <ul class="list-disc list-inside mb-6">
      <li class="mb-2">
        El uso de este sitio web es para fines personales y no comerciales.
      </li>
      <li class="mb-2">
        No está permitido utilizar este sitio web para realizar actividades
        ilegales o malintencionadas.
      </li>
      <li class="mb-2">
        No se permite realizar scraping o cualquier tipo de automatización para
        extraer datos del sitio sin autorización.
      </li>
    </ul>

    <h2 class="text-2xl font-semibold mb-4">
      3. Información Proveniente de la API Pública
    </h2>
    <p class="mb-6">
      Este sitio utiliza los datos proporcionados por la API pública de
      <strong>CNEL EP</strong>, y los organiza de manera más accesible. Puedes
      consultar el portal oficial de CNEL EP para ver los horarios directamente
      en su <a
        href="https://www.cnelep.gob.ec"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-600 hover:underline">página oficial</a
      >.
      <strong>Horarios CNEL</strong> no tiene control sobre la precisión, disponibilidad
      o cualquier cambio en los datos proporcionados por dicha API. Al usar este
      sitio, reconoces que los datos son ofrecidos por una fuente oficial y que
      <strong>Horarios CNEL</strong> únicamente los presenta de una forma más accesible.
    </p>

    <h2 class="text-2xl font-semibold mb-4">4. Exclusión de Responsabilidad</h2>
    <p class="mb-6">
      <strong>Horarios CNEL</strong> no se hace responsable de la precisión de los
      datos ni de los cortes de energía no reflejados en los horarios. Este sitio
      web se ofrece como un proyecto personal y no tiene ninguna garantía de disponibilidad
      continua ni de la exactitud de la información proporcionada. Al usar este sitio,
      aceptas que cualquier acción tomada basada en los datos del sitio es bajo tu
      propia responsabilidad.
    </p>

    <h2 class="text-2xl font-semibold mb-4">
      5. Propiedad Intelectual y Código Abierto
    </h2>
    <p class="mb-6">
      El código fuente de este proyecto es de código abierto y está disponible
      bajo la <a
        href="https://github.com/Javiervinus/cnel-schedules/blob/main/LICENSE"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-600 hover:underline">MIT License</a
      >. Puedes ver y contribuir al código en el repositorio de GitHub <a
        href="https://github.com/Javiervinus/cnel-schedules"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-600 hover:underline">aquí</a
      >. Los derechos sobre el diseño del sitio pertenecen a su creador, Javier
      Vinueza, pero se otorgan bajo los términos de la licencia MIT.
    </p>

    <h2 class="text-2xl font-semibold mb-4">6. Enlaces a Sitios de Terceros</h2>
    <p class="mb-6">
      Este sitio puede contener enlaces a sitios web de terceros, como la página
      oficial de <strong>CNEL EP</strong>. No tenemos control sobre el contenido
      o las políticas de esos sitios, y no nos hacemos responsables de los
      servicios que ofrecen ni de la información que proporcionan.
    </p>

    <h2 class="text-2xl font-semibold mb-4">
      7. Modificaciones de los Términos
    </h2>
    <p class="mb-6">
      Los términos y condiciones aquí descritos pueden ser modificados en
      cualquier momento sin previo aviso. Las actualizaciones serán publicadas
      en esta página, y es responsabilidad del usuario revisar los términos de
      forma periódica.
    </p>

    <h2 class="text-2xl font-semibold mb-4">8. Ley Aplicable</h2>
    <p>
      Estos términos y condiciones se regirán e interpretarán de acuerdo con las
      leyes de Ecuador. Cualquier disputa relacionada con el uso de este sitio
      será resuelta en los tribunales competentes de Ecuador.
    </p>
  </section>
</MainLayout>
<script is:inline>
  function observeTitle(options = {}) {
    const {
      titleId,
      appBarTitleId,
      cloneMode,
      removeLeadingIcons,
      maxFontSize,
      appBarHeight,
    } = { ...defaultOptions, ...options };

    const title = document.getElementById(titleId);
    const appBarTitle = document.getElementById(appBarTitleId);
    const leadingIcons = document.getElementById("leading-actions");

    if (!title || !appBarTitle || !leadingIcons) return;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            // Título visible, ocultar el título en el Appbar y mostrar los íconos
            appBarTitle.classList.add("opacity-0");
            appBarTitle.classList.remove("opacity-100");

            if (removeLeadingIcons) {
              leadingIcons.classList.add("opacity-100");
              leadingIcons.classList.remove("opacity-0");
            }
          } else {
            // Limpiar el contenido actual del Appbar
            appBarTitle.innerHTML = "";

            // Obtenemos el tamaño de fuente original del título
            const titleFontSize = parseFloat(
              window.getComputedStyle(title).fontSize
            );

            if (cloneMode === CloneMode.CLONE_NODE) {
              // Clonamos el nodo completo con todo el HTML y atributos
              const clonedTitle = title.cloneNode(true);

              // Remover márgenes y paddings
              clonedTitle.style.margin = "0";
              clonedTitle.style.padding = "0";
              clonedTitle.style.maxWidth = "100%";
              // white-space: nowrap;
              clonedTitle.style.whiteSpace = "nowrap";

              // Solo aplicar el tamaño máximo si es mayor que el actual
              if (titleFontSize > maxFontSize) {
                clonedTitle.style.fontSize = `${maxFontSize}px`;
              }

              appBarTitle.appendChild(clonedTitle);
            } else if (cloneMode === CloneMode.INNER_HTML) {
              // Copiamos solo el innerHTML
              appBarTitle.innerHTML = title.innerHTML;

              // Solo aplicar el tamaño máximo si es mayor que el actual
              if (titleFontSize > maxFontSize) {
                appBarTitle.style.fontSize = `${maxFontSize}px`;
              }
            } else if (cloneMode === CloneMode.TEXT_CONTENT) {
              // Copiamos solo el textContent
              appBarTitle.textContent = title.textContent;

              // Solo aplicar el tamaño máximo si es mayor que el actual
              if (titleFontSize > maxFontSize) {
                appBarTitle.style.fontSize = `${maxFontSize}px`;
              }
            }

            appBarTitle.classList.add("opacity-100");
            appBarTitle.classList.remove("opacity-0");

            if (removeLeadingIcons) {
              leadingIcons.classList.add("opacity-0");
              leadingIcons.classList.remove("opacity-100");
            }
          }
        });
      },
      {
        rootMargin: `-${appBarHeight}px 0px 0px 0px`,
        threshold: 0,
      }
    );

    observer.observe(title);
  }

  document.addEventListener("astro:page-load", async () => {
    // Usamos import dinámico para cargar el módulo solo cuando sea necesario

    // Ejecutar la función observeTitle después de que la página se haya cargado
    observeTitle({
      removeLeadingIcons: true,
    });
  });
</script>
