---
import { Github, ArrowLeft } from "lucide-react";
import { ModeToggle } from "./ModeToggle";
---

<header
  class="sticky top-0 z-50 w-full border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex h-14 max-w-screen-lg mx-auto items-center md:px-6 lg:px-0 px-6"
  >
    <a id="home" href="/" data-astro-history="replace" class="hidden">
      <ArrowLeft />
      <span class="sr-only">Inicio</span>
    </a>
    <!-- Espacio para el título dinámico en el Appbar -->
    <div
      id="appbar-title"
      class="absolute left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300"
    >
    </div>

    <div class="ml-auto flex gap-1" id="leading-actions">
      <a
        href="https://github.com/Javiervinus/cnel-schedules"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 w-9"
      >
        <Github />
        <span class="sr-only">Repositorio en Github</span>
      </a>

      <ModeToggle client:load />
    </div>
  </div>
</header>

<script is:inline>
  // vamos a obtener el home para aparecerlo solo si la ruta es diferente a la principal (codigo altamente tipado)
  document.addEventListener("astro:page-load", () => {
    const home = document.getElementById("home");
    if (home) {
      if (location.pathname === "/") {
        home.style.display = "none";
      } else {
        home.style.display = "flex";
      }
    }
  });
</script>
