---

---

<footer
  class="z-50 bg-white dark:bg-black w-full border-t border-border/40 backdrop-blur py-4"
>
  <div
    class="container flex flex-col max-h-28 max-w-screen-lg mx-auto justify-center items-center px-6 text-balance leading-loose text-muted-foreground text-sm"
  >
    <p class="text-center md:text-left">
      Este es un sitio independiente. Información obtenida del portal oficial <a
        class="underline underline-offset-4"
        href="https://serviciosenlinea.cnelep.gob.ec/cortes-energia/"
        target="_blank"
        rel="noopener noreferrer">CNEL EP</a
      >.
    </p>
    <div class="flex justify-between gap-5">
      <a href="/terms" class="underline underline-offset-4"
        >Terminos y condiciones</a
      >
      <a href="/privacy" class="underline underline-offset-4"
        >Política de Privacidad</a
      >
    </div>
  </div>
</footer>
