---
import { getFeatureFlag } from "@/utils/feature-flags";
import Sonner from "./Sonner";

const featureCookies = Astro.cookies.get("vercel-flag-overrides")?.value;

const newScheduleAvailable = await getFeatureFlag(
  "newScheduleAvailable",
  featureCookies
);
---

{
  newScheduleAvailable && (
    <Sonner
      text="Nuevo horario de desconexión disponible"
      description="CNEL ha proporcionado nuevos horarios para esta semana. ¡Revisa la página para más información!"
      duration={7000}
      client:load
    />
  )
}

<!-- ---
import { FeatureFlagEnum } from "@/enums/feature-flag.enum";
import { GET } from "@/pages/api/feature-flag/[flag]";
import { createContext } from "astro/middleware";

const params = { flag: FeatureFlagEnum.newScheduleAvailable};
const context = createContext({
  request: Astro.request,
  params: params,
  defaultLocale: "es",
});
let response = await GET(context);
const data = await response.json();
console.log(data);
---

<h1>world!</h1> -->
