---
import Appbar from '@/components/Appbar.astro';
import Footer from '@/components/Footer.astro';
import "@/styles/globals.css";
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-EC">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Language" content="es-EC" />

    <meta
      name="description"
      content="Consulta los horarios actualizados de cortes de luz de CNEL en Ecuador. Mantente informado y planifica tu día con nuestro servicio en línea."
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="google-site-verification"
      content={import.meta.env.GOOGLE_SITE_VERIFICATION}
    />

    <link rel="canonical" href={import.meta.env.SITE} />

    <meta name="author" content="Javier Vinueza" />
    <meta name="application-name" content="Horarios CNEL" />

    <!-- Open Graph -->
    <meta property="og:site_name" content="Horarios CNEL Ecuador" />

    <meta property="og:title" content="Horarios CNEL - Cortes de Luz Ecuador" />
    <meta
      property="og:description"
      content="Consulta los horarios de cortes de luz de CNEL en Ecuador. Mantente informado y planifica tu día con nuestro servicio en línea."
    />
    <meta
      property="og:image"
      content={import.meta.env.SITE + "/images/cnel-schedule-og.jpg"}
    />
    <meta
      name="keywords"
      content="cortes de luz, CNEL, Ecuador, horarios cortes de luz, energía eléctrica, planificación, servicio eléctrico CNEL, cortes de energía, luz, Ecuador 2024"
    />

    <meta property="og:url" content={import.meta.env.SITE} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Horarios CNEL - Cortes de Luz Ecuador"
    />
    <meta
      name="twitter:description"
      content="Consulta los horarios de cortes de luz de CNEL en Ecuador. Mantente informado y planifica tu día con nuestro servicio en línea."
    />
    <meta
      name="twitter:image"
      content={import.meta.env.SITE + "/images/cnel-schedule-og.jpg"}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>
    {
      import.meta.env.PROD && (
        <script
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="ac3dd82c-088d-4bf6-ab61-bab86a5a2b14"
        />
        <script type="text/javascript">
          (function (c, l, a, r, i, t, y) {
            c[a] =
              c[a] ||
              function () {
                (c[a].q = c[a].q || []).push(arguments);
              };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
          })(window, document, "clarity", "script", "olchg88tpg");
      </script>
      )
    }

    <ViewTransitions />

  </head>
  <body class="relative">
    <section class="relative flex flex-col min-h-screen bg-background">
      <Appbar />
  
      <main >
        <slot />
  
      </main>
  
      <Footer />
    </section>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    /* background: #13151a; */
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
  html {
    -webkit-text-size-adjust: 100%;
  }
</style>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Horarios CNEL",
    "url": "https://cnel-schedules.vercel.app/",
    "description": "Consulta los horarios actualizados de cortes de luz de CNEL en Ecuador.",
    "inLanguage": "es-EC",
    "author": {
      "@type": "Person",
      "name": "Javier Vinueza",
      "url": "https://github.com/Javiervinus",
      "sameAs": ["https://www.linkedin.com/in/javier-vinueza-08759a74"]
    },
    "publisher": {
      "@type": "Organization",
      "name": "Horarios CNEL",
      "url": "https://cnel-schedules.vercel.app/",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "EC"
      }
    }
  }
</script>
<script is:inline>
  const applyThemePreference = () => {
    const getThemePreference = () => {
      if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      return "light"; // Default to light if no preference
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");
  };

  // Aplicar tema al cargar la página
  applyThemePreference();

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }

  // Escuchar el evento de transición de vista y aplicar el tema
  document.addEventListener('astro:after-swap', () => {
    applyThemePreference(); // Reaplicar el tema después de cada transición
  });
</script>
